<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Set_List_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Set_List_Manager.Properties.Settings>
            <setting name="display_music_library_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="notation" serializeAs="String">
                <value>{music}【{singer}】</value>
            </setting>
            <setting name="display_set_list_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="song_before" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="browser_select" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="browser_argument" serializeAs="String">
                <value />
            </setting>
            <setting name="start_key" serializeAs="String">
                <value />
            </setting>
            <setting name="stop_key" serializeAs="String">
                <value />
            </setting>
        </Set_List_Manager.Properties.Settings>
    </userSettings>
</configuration>